src/main/resources/xsd/sampleProcessing.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema
		elementFormDefault="qualified"
		xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" jaxb:version="3.0"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="Campagne">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Steps">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Step">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Goal" type="xs:string" />
										<xs:element name="Options" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Questionnaires">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Questionnaire">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InformationsGenerales">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="UniteEnquetee">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Identifiant">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="\S+" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Prioritaire" type="xs:boolean" />
																<xs:element name="IdentifiantsInsee">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Bs" type="xs:integer" />
																			<xs:element name="Ec" type="xs:string" />
																			<xs:element name="Le" type="xs:integer" />
																			<xs:element name="Noi" type="xs:integer" />
																			<xs:element name="Numfa" type="xs:integer" />
																			<xs:element name="Rges" type="xs:integer" />
																			<xs:element name="Ssech" type="xs:integer" />
																			<xs:element name="Nolog" type="xs:integer" />
																			<xs:element name="Nole" type="xs:integer" />
																			<xs:element name="Autre" type="xs:string" />
																			<xs:element name="Nograp" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element minOccurs="0" name="Affectation">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="UniteOrganisationnelleId" type="xs:string" />
																			<xs:element name="EnqueteurId" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element minOccurs="0" name="Commentaires">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element minOccurs="0" maxOccurs="unbounded" name="Commentaire">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Type">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="pilotage" />
																									<xs:enumeration value="enqueteur" />
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Valeur" type="xs:string" />
																					</xs:sequence>
																				</xs:complexType>

																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="InformationCollectePrecedente"
																			type="InformationCollectePrecedente"
																			minOccurs="0"
																/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" name="MetadonneesCommunication">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CommunicationTemplate" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Metadata" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="key" type="xs:string" use="required" />
																					<xs:attribute name="value" type="xs:string" use="required" />
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="type" use="required">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="reminder"/>
																					<xs:enumeration value="notice"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="medium" use="required">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="letter"/>
																					<xs:enumeration value="email"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="meshuggahId" type="xs:string" use="required" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>

													<xs:element name="Contacts">
														<xs:complexType>
															<xs:sequence>
																<xs:element minOccurs="0" maxOccurs="unbounded" name="Contact">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Principal" type="xs:boolean" />
																			<xs:element name="CiviliteReferent"
																						type="CiviliteType"
																						minOccurs="0" default="M."/>
																			<xs:element name="NomReferent" type="xs:string" />
																			<xs:element name="PrenomReferent" type="xs:string" />
																			<xs:element name="MailReferent" type="xs:string" />
																			<xs:element name="DateNaissance" type="DateType" />
																			<xs:element name="Telephones">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element
																								maxOccurs="unbounded"
																								name="Telephone">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Source">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:enumeration value="fiscal" />
																												<xs:enumeration value="interviewer" />
																												<xs:enumeration value="directory" />
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element
																											name="Favori"
																											type="xs:boolean"
																											minOccurs="0"/>
																									<xs:element name="Numero" type="xs:string" />
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Adresse" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="NumeroVoie" type="xs:string" />
																						<xs:element name="IndiceRepetition" type="xs:string" />
																						<xs:element name="TypeVoie" type="xs:string" />
																						<xs:element name="LibelleVoie" type="xs:string" />
																						<xs:element name="ComplementAdresse" type="xs:string" />
																						<xs:element name="MentionSpeciale" type="xs:string" />
																						<xs:element name="CodePostal" type="xs:string" />
																						<xs:element name="LibelleCommune" type="xs:string" />
																						<xs:element name="CodeCommune" type="xs:string" />
																						<xs:element name="LibellePays" type="xs:string" />
																						<xs:element name="Batiment" type="xs:string" />
																						<xs:element name="Etage" type="xs:string" />
																						<xs:element name="Porte" type="xs:string" />
																						<xs:element name="Escalier" type="xs:string" />
																						<xs:element name="Ascenseur" type="xs:boolean" />
																						<xs:element name="QPV" type="xs:boolean" />
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>

												</xs:sequence>
											</xs:complexType>

										</xs:element>
										<xs:element name="InformationsPersonnalisees">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Data" type="Data"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="idModele" type="xs:string" use="required" />
									<xs:attribute name="idInterrogation" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="idSource" type="xs:string" use="required" />
			<xs:attribute name="millesime" type="xs:unsignedShort" use="required" />
			<xs:attribute name="idPeriode" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Data">
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:dom/>
						<jaxb:property name="dataElements"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InformationCollectePrecedente">
		<xs:all>
			<xs:element name="BilanDeContact" type="BilanDeContactType" minOccurs="0"/>
			<xs:element name="Contacts" type="ContactsPrecedents" minOccurs="0"/>
			<xs:element name="CommentairePrecedent" type="CommentairePrecedentType" minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:simpleType name="BilanDeContactType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INA"/>
			<xs:enumeration value="REF"/>
			<xs:enumeration value="IMP"/>
			<xs:enumeration value="UCD"/>
			<xs:enumeration value="UTR"/>
			<xs:enumeration value="ALA"/>
			<xs:enumeration value="DUK"/>
			<xs:enumeration value="DUU"/>
			<xs:enumeration value="NUH"/>
			<xs:enumeration value="DCD"/>
			<xs:enumeration value="NOA"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ContactsPrecedents">
		<xs:sequence>
			<xs:element name="Contact" type="ContactPrecedentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ContactPrecedentType">
		<xs:sequence>
			<xs:element name="Civilite" type="CiviliteType" minOccurs="0" default="M."/>
			<xs:element name="Prenom" type="xs:string"/>
			<xs:element name="DateDeNaissance" type="DateType"/>
			<xs:element name="Panel" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CommentairePrecedentType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="|((0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[0-2])/(19|20)[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CiviliteType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Mme"/>
			<xs:enumeration value="M."/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>